#text{
    position: absolute;
    top: 315px;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main-container{
    display:flex;
    justify-content: center;
    margin-top: 250px;
}

.squares{
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
}

.main-container .red{
    background-color: red;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: top left;
}

.main-container .yellow{
    background-color: yellow;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: top right;
}

.main-container .blue{
    background-color: blue; 
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: bottom left;
}

.main-container .green{
    background-color: green;
    transition-property: transform;
    transition-duration: 1s;
    transform-origin: bottom right;
}

.main-container:hover .red{
    transform: rotate(90deg);
}

.main-container:hover .yellow{
    transform: rotate(-90deg);
}

.main-container:hover .blue{
    transform: rotate(-90deg);
}

.main-container:hover .green{
    transform: rotate(90deg);
}