.note{
    margin: 5px;
    text-align: center;
    border:1px solid rgb(0, 0, 0);
    width: 10rem;
    height: 10rem;
    justify-content: center;
    background-color: antiquewhite;
}

.delete{
    margin-top: 20px;
    margin-left: 5px;
    border: 0px;
    width: 27px;
    height: 27px;
    background: url("../images/trash.png");
}