*{
    /* border: 1px solid black; */
}

body{
    background-color: blanchedalmond;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.header{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

#header__text{
    margin-bottom: 1px;
}

#header__subtext{
    margin-top: 0;
    padding-left: 5rem;
}

.content{
    display: flex;
}

.article{
    display: flex;
    flex-direction: column;
}

.content__article__title{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

.content__article__title > h3{
    margin-bottom: 0;
}

form{
    display: flex;
    flex-direction: column;
}

#submit{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#submit:hover{
    background-color: blue;
    color: aliceblue;
}