*{
    /* border: 1px solid black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: darksalmon;
}

.main-container{
    display: flex;
    flex-direction: column;
}

.header{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

#header__text{
    margin-bottom: 1px;
}

#header__subtext{
    margin-top: 0;
}

.content{
    display: flex;
    flex-direction: column;
}

.content__article{
    display: flex;
    flex-direction: column;
}

.content__article__summary{
    display:flex ;
    flex-direction: column;
    align-items: center;
}

.content__article__summary > h3{
    margin-bottom: 0;
}

.content__article__summary > img{
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}

form{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#submit{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#submit:hover{
    background-color: blue;
    color: aliceblue;
}

@media screen and (min-width: 600px){
    body{
        background-color: rgb(77, 179, 186);
    }
    .content__article{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (min-width: 1600px){
    body{
        background-color: beige;
    }
    .content__article{
        display: flex;
        flex-direction: column;
    }
}

footer{
    background-color: rgba(193, 155, 188, 0.338);
}