body{
  background-image: url('./images/pawel-czerwinski-vI5XwPbGvmY-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 1900px 1200px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}