
body{
    display: block;
    font-family: 'Lato', sans-serif;
}

.container{
    padding-top: 0;
    display:flex;
    background-color: #454545;
}

.tracks {
    width: 100%;
    margin-top: 20px;
    padding-left: 40px;
    border-collapse: collapse;
    width: 100%;
}
  
tr, td {
    margin-left: 150px;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #F0F0F0;
}

.sidenav {
    height: 100%;
    width: 40px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    padding-top: 50px;  
}

.icon-list{
    margin-right: 20px;
}

#catty-image{
    height: 200px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 60px;
}

ul{
    list-style-type: none;
    margin-left: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 6rem;
}

.content{
    margin-left: 20px;
    vertical-align: top;
    color: white;
    grid-template-columns: 15% 85%;
}

.footer{
    margin-top: 180px;
    padding-left: 40px;
    width:100%;
    background-color: #43689B;
    display: inline-flex;
    color: white;
}

.footer-img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
}

.song {
    margin-left: 10px;
    line-height: 0.8rem;
    text-align: left;
    padding-top: 4px;
}

.symbol {
    text-align: center;
    margin-top: 40px;
}

.footer-list {
    margin-left: 20px;
    padding-right: 180px;
}

.foot-controls{
    margin-left: 100px;
}
